/*"if" statement for screen and min-width*/
@media screen and (max-width: 565px){
	nav ul li{
		padding: 0 4% 0 4%;
	}
}

@media screen and (max-width:386px){
	div.fl{
	float:center;
	}
	h3{
		text-align: left;
		font-size: 2.0em;
		width: 100%;
	}
	h4{
		font-size: 1.5em;
	}
	ul{
		padding: 0 0 0 0;
	}
	h1{
		font-size: 2.0em;
		text-align: center;
	}
	h2{
		font-size: 1.5em;
		text-align: center;
	}
	nav ul li{
		font-size: .8em;
		padding: 0 1% 0 1%;
	}
	.introP{
		margin: 0% 0% 0% 0%;
		width: 100%;
	}
	.introP p{
		text-align: center;
		margin-left: 0;
	}
	body{
		background: #232323 url("");
	}
	footer{
		max-width: 90%;
	}
	footer p{
		text-align: center;
	}
	#gallery li{
		width: 28.3333%
	}
	.gallery .item {
		margin: 2px;
		max-width: 100%;
		opacity: 0;
		transition: opacity .5s;
	}
	div.grid_3{
		width:100%;
	}
	div.grid_9{
		width:100%;
	}
	.grid_12{
		font-size: 85%;
	}
}

@media screen and (min-width: 387px){
	figure{
		display: absolute;
		display: inline-block;
	}
	section{
		width: 90%;
	}
	h2{
		text-align: center;
		font-size: 2em;
	}
	h1{
		text-align: center;
		font-size: 2.5em;
	}
	ul{
		padding: 0 0 0 0;
	}
	figure{
		max-width: 100%;
		display: inline-block;
	}
	.introP p{
		text-align: center;
		width: 100%;
		margin: 0 0;
	}
	.introP{
		margin: 0% 10% 0 10%;
		width: 80%;
	}
	.hist{
		max-width: 50%;
		display: inline-block;
	}
		aside {
		margin: 0% 5%;
	}
	#gallery li{
		width: 28.3333%
	}
	.gallery .item {
		margin: 2px;
		max-width: 100%;
		opacity: 0;
		transition: opacity .5s;
	}
	.window{
		margin: 2px;
		max-width: 100%;
		opacity: 0;
		transition: opacity .5s;
	}
	div.grid_3{
		width:100%;
	}
	div.grid_9{
		width:100%;
	}
	.grid_12{
		font-size: 100%;
	}
}

@media screen and (min-width: 497px){
	.hist{
		max-width:65%;
		display: inline-block;
	}
}

@media screen and (min-width: 550px){
	.hist{
		max-width: 60%;
		display: inline-block;
	}
	div.fl{
		float:right;
	}
	div.grid_3{
		width:23.5%;
	}
	div.grid_9{
		width:66%;
	}

}

@media screen and (min-width: 1000px){
	h1{
		font-size: 3em;
		text-align: right;
		float:right;
		margin-right:5%; 
		width: 90%
	}
	h2{
		font-size: 2.5em;
		text-align: right;
		float: right;
		margin-right: 5%;
		width: 90%
	}
	.introP p{
		text-align: left;
		margin-right: 10%;
		float:right;
		padding-bottom: 1em;
		padding-top: .8em;
		border-bottom: 2px solid #d9d9d9; border-top: 2px solid #d9d9d9;
	}
	.introP{
		width: 100%;
	}
	section	{
		max-width: 90%;
		float:right;
	}
	.resume	{
		max-width: 65%;
		float:right;
	}
	.hist{
		max-width: 30%;
		margin-left: 50%;
		display: inline-block;
	}
	nav{
		background: none; 
		font-size: 1.125em;
		width: 100%; 
	}
	ul{
		padding: 0 0 0 0;
	}
	nav ul li{
		width:20%;
		padding:0 0px 0 0px;
		text-align: center;
	}
	aside {
		margin: 0% 5%;
	}
	#gallery{
		width: 45%;
		float: right;
	}
	#gallery li{
		width: 28.3333%
	}
	.gallery .item {
		max-width: 48%;
		opacity: 0;
		transition: opacity .5s;
	}
	.window {
		max-width: 48%;
		opacity: 0;
		transition: opacity .5s;
	}
	figure{
		float: left;
		max-width: 40%;
		display: inline-block;
	}
	.container{
		margin: auto;
	}
	.bio{
		max-width: 1000px;
	}
}

@media screen and (min-width: 1200px){
	aside {
		margin: 0% 60px;
	}
	section{
		max-width: 90%;
	}
	.hist{
		margin-left: 50%;
		display: inline-block;
	}
	.introP p{
		max-width: 100%;
	}
	#gallery{
		width: 60%;
		float: right;
	}
	.gallery .item {
		max-width: 35%;
		opacity: 0;
		transition: opacity .5s;
	}
	#gallery li{
		width: 20%;
	}
	.window{
		max-width: 35%;
		opacity: 0;
		transition: opacity .5s;
	}
	figure{
		max-width: 30%;
		display: inline-block;
	}
}